/*
Theme Name: Child Underscore 
Theme URI: http://example.com/
Author: Your Name
Author URI: http://example.com/
Description: Child theme của child-underscore dạng blog và woocommerce
Template: default-underscore
Version: 1.0.0
Text Domain: child-underscore
Domain Path: /languages
Tags: blog, custom-logo, custom-menu, featured-images, translation-ready
*/