/* Mobile nhỏ (điện thoại cũ) */
@media (max-width: 374px) { }

/* Mobile */
@media (min-width: 375px) { }

/* Mobile lớn */
@media (min-width: 480px) { }

/* Tablet */
@media (min-width: 640px) { }

/* Tablet ngang */
@media (min-width: 768px) { }

/* Laptop nhỏ */
@media (min-width: 1024px) { }

/* Desktop */
@media (min-width: 1280px) { }

/* Màn hình lớn */
@media (min-width: 1536px) { }
