.mySwiper {
    width: 100%;
    position: relative;

    .swiper-wrapper {
        align-items: stretch;
    }

    /* ==== SLIDE ==== */
    .swiper-slide {
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        font-weight: 600;
        color: #111;
        box-shadow: 0 10px 30px rgba(0, 0, 0, .08);
        transition: .35s ease;
        cursor: grab;
        position: relative;

        &:active {
            cursor: grabbing;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: .5s ease;
            display: block;
        }

        .title {
            position: absolute;
            bottom: 0;
            color: white;
            font-size: 14px;
        }

        a {
            width: 100%;
        }
    }

    /* ==== NAVIGATION ==== */
    .swiper-button-next,
    .swiper-button-prev {
        background: rgba(0, 0, 0, .6);
        border-radius: 50%;
        color: #fff;
        transition: .3s;
        position: absolute;
        top: 50%;
        margin: 0;
        transform: translateY(-50%);
        z-index: 999;

        &:hover {
            background: #000;
        }

        &::after {
            font-size: 18px;
            font-weight: bold;
        }

        svg {
            height: 50%;
        }

        &.swiper-button-disabled {
            pointer-events: unset;
        }
    }

    /* ==== PAGINATION ==== */
    .swiper-pagination {
        .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
            background: #bbb;
            opacity: 1;
            transition: .3s;
        }

        .swiper-pagination-bullet-active {
            width: 22px;
            border-radius: 6px;
            background: #111;
        }
    }

    /* ==== MOBILE ==== */
    @media (max-width: 768px) {
        padding: 20px 10px 50px;

        .swiper-slide {
            font-size: 18px;
        }
    }
}