.accordion {
    width: 100%;
    margin: 50px auto;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid #e5e7eb;
    font-family: system-ui, sans-serif;

    .accordion-item {

        &+.accordion-item {
            border-top: 1px solid #e5e7eb;
        }

        &.active {
            .accordion-header {
                .icon {
                    transform: rotate(45deg);
                }
            }
        }

        .accordion-header {
            width: 100%;
            background: #f9fafb;
            border: none;
            outline: none;
            padding: 18px 20px;
            font-size: 16px;
            font-weight: 600;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;

            &:hover {
                background: #f1f5f9;
            }

            &:focus {
                outline: none !important;
            }

            .icon {
                font-size: 22px;
                transition: transform .3s;
            }
        }

        .accordion-content {
            max-height: 0;
            overflow: hidden;
            transition: max-height .35s ease;
            background: #fff;

            p {
                padding: 16px 20px;
                margin: 0;
                color: #374151;
                line-height: 1.6;
            }
        }
    }
}