html {
    scroll-behavior: smooth;
    /* cuộn mượt */
}

#scrollTo {
    position: fixed;
    bottom: 25px;
    right: 2%;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    background-color: #28a745;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    display: none;
    z-index: 9999;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;

    &:hover {
        background: #fff;
        color: #28a745;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
        transform: translateY(-3px);
    }
}

/* #scrollTo:hover {
    background: #fff;
    color: #28a745;
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
    transform: translateY(-3px);
} */