.gallery-custom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;

  img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    cursor: zoom-in;
    transition: .3s;

    &:hover {
      transform: scale(1.05);
    }
  }
}

/* LIGHTBOX */
.lightbox {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, .85);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: .3s;
  z-index: 9999999999999;

  &.active {
    opacity: 1;
    pointer-events: auto;
  }

  img {
    max-width: 90%;
    max-height: 85%;
    border-radius: 12px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, .4);
  }

  /* BUTTONS */
  .prev,
  .next {
    position: absolute;
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    user-select: none;
    background: rgba(0, 0, 0, .4);
    padding: 6px 14px;
    border-radius: 8px;

    &:hover {
      background: rgba(255, 255, 255, .2);
    }
  }

  .prev {
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  .next {
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  .lightbox-close {
    right: 25px;
    top: 25px;
    position: absolute;
    border-radius: 50%;
    border: none;
    background: rgba(0, 0, 0, .5);
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    span {
            font-size: 28px;
            color: #fff;
            justify-content: center;
            display: flex;
            width: 42px;
            height: 42px;
            align-items: center;
    }

    &:hover {
      background: rgba(255, 255, 255, .25);
    }
  }

}

/* Mobile */
@media (max-width: 768px) {
  .gallery-custom {
    grid-template-columns: repeat(2, 1fr);
  }
}