.custom-breadcrumb {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    background: #fff;
    padding: 12px 16px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);

    a {
        color: #4f46e5;
        text-decoration: none;
        transition: color .2s ease;

        &:hover {
            color: #1e1b4b;
            text-decoration: unset;
        }
    }

    span {
        color: #999;
    }

    .current {
        color: #333;
        font-weight: 600;
    }
}